In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df.head()

   ID   name
0   1   jack
1   2  lilei
2   3   lili

In [6]:
df.columns

Index(['ID', 'name'], dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [11]:
df.loc[1]

ID          2
name    lilei
Name: 1, dtype: object

In [12]:
df[df.ID > 1]

   ID   name
1   2  lilei
2   3   lili

In [15]:
df.sort_values(['ID'])

   ID   name
0   1   jack
1   2  lilei
2   3   lili

In [19]:
def func(name):
    if name == "jack":
        return 50
    elif name == "lilei":
        return 80
    elif name == "lili":
        return 70
    else:
        return NA

df['score'] = df.name.map(func)
        
df.head()

   ID   name  score
0   1   jack     50
1   2  lilei     80
2   3   lili     70

In [22]:
df.applymap(lambda x : str(x) + "-")

   ID    name score
0  1-   jack-   50-
1  2-  lilei-   80-
2  3-   lili-   70-

In [26]:
df["new"] = df.apply(lambda x: x.ID + x.score, axis=1)
df

   ID   name  score  new
0   1   jack     50   51
1   2  lilei     80   82
2   3   lili     70   73